$colorBlack: #222;
$colorWhite: #fff;
$colorGray: #a7a7a7;


$colorBackgroundPopup: rgba(233, 242, 245, .96);

$colorTransparent: transparent;
$colors: 'Black' $colorBlack, 'Gray' $colorGray, 'White' $colorWhite;
$colors-base: 'Black' $colorBlack, 'White' $colorWhite;
