$colorBlack: #222;
$colorWhite: #fff;

$colorGray: #a7a7a7;
$colorLightGray: #e8f0f5;
$colorWhite: #fff;
$colorBlueLight: rgb(156, 201, 225);
$colorBlue: #94d6f4;
$colorNavyBlue: #598fae;
$colorDarkBlue: #446a88;
$colorBlueGray: #4d8dae;
$colorBlueDark: #477c9c;
$colorBlueBlack: #3f6a88;
$colorWhiteBlue: #bccede;

$colorGreen: #5bc993;
$colorLightGreen: #bbf4d7;
$colorGreen: #41bc80;
$colorBackgroundPopup: rgba(233, 242, 245, .96);

$colorBackgroundPopup: rgba(233, 242, 245, .96);
$colorBackgroundFixedPanel: rgba(72, 132, 164, .6);

$colorTransparent: transparent;
$colors: 'Black' $colorBlack, 'Gray' $colorGray, 'White' $colorWhite, 'Blue' $colorBlue, 'BlueLight' $colorBlueLight;
$colors-base: 'Black' $colorBlack, 'White' $colorWhite;
