.icons__nav__panel {
	position: relative;
	top: 50%;
	display: inline-block;
	vertical-align: top;
	background-image: inline-image('icons/svg/elements 08.svg');
	background-repeat: no-repeat;

	&.logotype {
		width: 143px;
		height: 25px;
		background-position: top 0;
		margin-top: -12px;
	}

	&.map {
		width: 19px;
		height: 15px;
		background-position: -143px 0;
		margin-top: -7px;
		margin-right: 2px;
	}

	&.config {
		width: 11px;
		height: 11px;
		background-position: -162px 0;
		margin-top: -5px;
		margin-right: 2px;
	}

	&.point {
		width: 8px;
		height: 11px;
		background-position: -173px 0;
		margin-top: -5px;
		margin-right: 2px;
	}

	&.search {
		width: 16px;
		height: 15px;
		background-position: -194px 0;
		margin-top: -7px;
		margin-left: 10px;
	}

	&.pen {
		width: 10px;
		height: 10px;
		background-position: -210px 0;
		margin-top: -5px;
		margin-left: 10px;
	}

	&.message {
		width: 15px;
		height: 16px;
		background-position: -220px 0;
		margin-top: -7px;
	}

	&.notif {
		width: 14px;
		height: 16px;
		background-position: -235px 0;
		margin-top: -7px;
	}

	&.arrow {
		width: 20px;
		height: 20px;
		background-position: -249px 0;
		margin-top: -9px;
		margin-right: 2px;
	}
}

.icons__actions {
	background-image: inline-image('icons/svg/elements 01.svg');
	background-repeat: no-repeat;

	&.closer {
		width: 50px;
		height: 50px;
		background-position: -338px 0;

		&:hover {
			background-position: -338px -50px;
		}
	}
}

.iconPostCounter {
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
	background-image: inline-image('icons/post_counter.svg');

	&.viewers {
		background-position: 0 0;
	}
	&.diagram {
		background-position: -16px 0;
	}
	&.comments {
		background-position: -32px 0;
	}
	&.likesWhite {
		background-position: -48px -32px;
	}
	&.unlikesWhite {
		background-position: -64px -32px;
	}
}

.icon__remove
{
	width: 12px;
	height: 12px;
	background-image: inline-image('icons/removePost.png');
	margin: 14px 14px 0 0;
	cursor: pointer;
	
	&:hover
	{
		background-position: -12px 0;
	}
}

