$fontFamilySans: 'Open Sans', sans-serif !default;
$fontFamilySerif: 'PT Serif', serif !default;
$fontWeight: normal;
$fontSize: 16px;
$lineHeight: 18px;

* {
	-webkit-font-smoothing: subpixel-antialiased;
}