.main__post__container {
	width: 1000px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	.main__post__list {
		width: 100%;

		.main__post__list__row {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 320px;
			margin-right: 16px;
			overflow: hidden;

			&.end {
				margin-right: 0;
			}

			.main__post__item {
				position: relative;
				background-color: $colorWhite;
				margin-top: 25px;
				padding: 12px;
				top: 60px;
				opacity: 0;

				.main__post__item__image {
					margin: 0 auto;
					width: 296px;

					img	{
						display: block;
						width: 100%;
					}
				}

				.main__post__item__info	{
					position: relative;
					box-sizing: border-box;
					font: fontSize(11px)/lineHeight(11px) $fontFamilySans;

					.main__post__item__avatar {
						width: 24px;
						height: 24px;
						background-size: cover;
					}

					.main__post__item__author {
						display: inline-block;
						vertical-align: middle;

						a {
							color: $colorGray;
						}
					}

					a {
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
						font: fontSize(11px)/lineHeight(16px) $fontFamilySans;
					}

					.main__post__item__info__blog {
						color: $colorBlack;
					}

					.main__post__item__date	{
						position: absolute;
						right: 0;
						display: inline-block;
						color: $colorGray;
						font: fontSize(11px)/lineHeight(24px) $fontFamilySans;
					}

				}

				.main__post__item__body	{
					margin: 8px 0 12px;

					.main__post__item__header a
					{
						font: 900 fontSize(18px)/lineHeight(24px) $fontFamilySans;
						color: $colorBlack;
						transition: color .5s;

						&:hover {
							color: $colorBlueLight;
							transition: color .3s;

						}
					}
					.main__post__item__announce
					{
						margin-top: 8px;
						font: fontSize(14px)/lineHeight(22px) $fontFamilySerif;
					}
				}
				.main__post__item__rating
				{
					margin: 12px 0 8px;
					white-space: nowrap;

					.main__post__item__rating__item {
						position: relative;
						color: $colorBlue;
						font: fontSize(12px)/lineHeight(16px) $fontFamilySans;
						font-variant: small-caps;
						display: inline-block;
						vertical-align: top;
						margin-right: 10px;
						margin-left: -2px;
					}
				}

				.main__post__item__settings
				{
					position: absolute;
					top: 0;
					right: 0;
					opacity: 0;
					transition: opacity 1s;

				}

				&:hover .main__post__item__settings {
					opacity: 1;
					transition: opacity 1s;
				}
			}

		}

		.spinner__insideBlock
		{
			position: relative;
			z-index: 1024;
			width: 100%;
			height: 45px;
		}
	}

}

.topPosts {	
	overflow: hidden;
	background: $colorWhite;		
	border-bottom: 1px $colorWhiteBlue solid;
	
	.topPostsLeft
	{		
		width: 640px;
		float: left;
		
		.ui-state-highlight
		{
			width: 320px;
			height: 230px;
			margin: 0 12px 12px 0;
			box-sizing: border-box;
			position: relative;
			float: left;
			border: 1px dashed #cacaca;
		}
		
		.itemLeft
		{			
			float: left;
			position: relative;
			
			.itemLeft__draganddrop
			{
				position: absolute;
				z-index: 10;
				top: 10px;
				left: 10px;
				width: 11px;
				height: 11px;
				display: table-cell;
				vertical-align: bottom;
				cursor: url('/images/view/cursors/openhand.cur'), move;
				background-image: inline-image('icons/ico_sort.png');

				&.dragging
				{
					cursor: url('/images/view/cursors/closedhand.cur'), move;
				}
			}

			.itemLeft__banned
			{
				color: $colorGray;
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				width: 320px;
				height: 230px;
				background: $colorWhite;
				opacity: 0.7;
				z-index: 9999;
				font: fontSize(15px)/lineHeight(14px) $fontFamilySans;
				padding: 63px 22px;
				box-sizing: border-box;
				
				.itemLeft__banned__button
				{					
					background: none;
					border: 1px $colorGray solid;
					color: $colorGray;
					width: 99px;
					padding: 3px 0;
					margin-top: 18px;
					cursor: pointer;
					
					&:hover
					{
						border: 1px $colorBlack solid;
						color: $colorBlack;
					}					
				}
			}
			.itemLeft__image
			{
				width: 320px;
				height: 230px;
				position: relative;
				padding-top: 120px;
				box-sizing: border-box;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.itemLeft__imageMask
			{
				background-image: inline-image('bg_grayOpacity.png');
				width: 320px;
				height: 230px;
				margin-top: -200px;
				display: none;
				position: relative;
				padding: 20px 18px 0 18px;
				box-sizing: border-box;
				
				.itemLeft__imageMask__title
				{
					color: $colorWhite;
					font: 600 fontSize(16px)/lineHeight(20px) $fontFamilySans;					
				}
				.itemLeft__imageMask__announce
				{
					color: $colorWhite;
					font: fontSize(14px)/lineHeight(18px) $fontFamilySans;
					margin-top: 10px;
				}
			}			
			.itemLeft__postShadow
			{				
				background-image: inline-image('mainList_shadow.png');
				width: 320px;
				height: 110px;
				display: table-cell;
				vertical-align: bottom;
				
				.itemLeft__postTitle
				{					
					color: $colorWhite;
					font: 600 fontSize(16px)/lineHeight(20px) $fontFamilySans;
					margin: 0 20px 15px 18px;
				}
			}
			.postSettings
			{
				position: absolute;
				top: 5px;
				right: 5px;
				z-index: 9999;
				.postList__item__settings__list {
					left: auto !important;
					right: 0;
					margin-top: -4px;
				}
				.postList__item__settings__link
				{	
					padding: 4px 72px 2px 21px;
					font: 600 fontSize(14px)/lineHeight(24px) $fontFamilySans;				
				}
				.postList__item__settings__link:hover
				{
					color: $colorBlack;
					background: $colorGray;
				}
				.postList__item__settings__list:before, .postList__item__settings__list:after
				{
					border: 0;
				}				
			}			
		}
		.topPostsLeft__container
		{
			height: 635px;
			overflow: hidden;
			
			.spinner__insideBlock
			{
				margin: 281px 0 0 300px;
			}
		}
		.topPostsLeft__arrows
		{
			position: absolute;
			z-index: 1;
			top: 300px;
		}
		.topPostsLeft__topPostsAdd
		{
			float: right;
			margin-right: 16px;
			
			.topPostsLeft__topPostsAdd__url
			{
				width: 265px;
				height: 18px;
				float: left;
			}
			.topPostsLeft__topPostsAdd__add
			{
				background: $colorBlue;
				border: 0;
				color: $colorWhite;
				font-size: 23px;
				line-height: 21px;
				float: left;
				margin-left: 6px;
				height: 24px;
				
				&:hover
				{
					background: $colorBlue;
				}	
			}
		}
	}
	.topPostsRight
	{
		a
		{
			color: $colorBlack;
		}
		padding: 14px 0 0 640px;		
		.topPostsRight__header
		{
			font: 600 fontSize(18px)/lineHeight(15px) $fontFamilySans;			
			margin: 12px 0 20px 25px;
		}
		.ui-state-highlight
		{
			width: 324px;
			height: 85px;
			padding: 13px;
			box-sizing: border-box;
			position: relative;
			border: 1px dashed #cacaca;
		}
		.postClassStrong
		{
			background: $colorGreen;
			
			.itemRight__time
			{
				color: $colorWhite !important;
			}			
			
			a
			{
				color: $colorWhite;
			}
		}
		.banned 
		{
			.itemRight__time,
			.itemRight__header
			{
				color: $colorWhite;
			}
			&:hover
			{
				background: none !important;
			}
		}
		.itemRight
		{
			width: 360px;			
			padding: 13px 25px;
			box-sizing: border-box;
			position: relative;
			&:hover
			{
				background: $colorGreen;
				a
				{
					color: $colorWhite;
				}
				.itemRight__time
				{
					color: $colorWhite;					
				}
			}
			.itemRight__banned
			{
				font: fontSize(13px)/lineHeight(12px) $fontFamilySans;
				color: $colorGray;
				position: absolute;
				top: -10px;
				left: 15px;
				display: none;
				.itemRight__banned__button
				{
					position: relative;
					left: 20px;
					background: none;
					border: 1px $colorGray solid;
					color: $colorGray;
					width: 82px;
					cursor: pointer;
					
					&:hover
					{
						border: 1px $colorBlack solid;
						color: $colorBlack;
					}					
				}
			}
			.itemRight__time
			{
				font: fontSize(12px)/lineHeight(12px) $fontFamilySans;
				float: left;
				padding-top: 6px;
				color: $colorGray;
			}
			.itemRight__header
			{
				font: 600 fontSize(15px)/lineHeight(20px) $fontFamilySans;
				margin-left: 60px;
				letter-spacing: 0.04em;
				padding-right: 10px;
			}			
			.postSettings
			{
				position: absolute;
				top: 19px;
				right: 3px;
				.postList__item__settings__list {
					left: auto !important;
					right: 0;
					margin-top: -4px;
				}
				.postList__item__settings__link
				{
					padding: 4px 48px 2px 21px;
					font: 600 fontSize(14px)/lineHeight(21px) $fontFamilySans;
				}
				.postList__item__settings__link:hover
				{
					color: $colorBlack;
					background: $colorGray;
				}
				.postList__item__settings__list:before, .postList__item__settings__list:after
				{
					border: 0;
				}
			}
		}
		.topPostsRight__container
		{
			height: 598px;
			overflow: hidden;
			
			.spinner__insideBlock
			{
				margin: 244px 0 0 142px;
			}
		}
		.topPostsRight__arrows
		{
			margin: 7px 27px 0 0;
			float: right;
		}
		.topPostsRight__topPostsAdd
		{
			float: right;
			margin-right: 16px;
			
			.topPostsRight__topPostsAdd__url
			{
				width: 179px;
				height: 18px;
				float: left;
			}
			.topPostsRight__topPostsAdd__add
			{
				background: $colorBlue;
				border: 0;
				color: $colorWhite;
				font-size: 23px;
				line-height: 21px;
				float: left;
				margin: 0 15px 0 6px;
				height: 24px;
				
				&:hover
				{
					background: $colorBlue;
				}	
			}			
		}
	}
}

.listArrows__sprite
{
	background-image: inline-image('icons/ico_listArrows.png');
	width: 24px;
	height: 24px;
	cursor: pointer;
	float: left;
}
.listArrows__sprite__next, .listArrows__sprite__next__disabled
{
	margin-left: 10px;
}
.listArrows__sprite__next__disabled, .listArrows__sprite__prev__disabled
{
	cursor: default;
}
.listArrows__sprite__next
{
	background-position: -72px 0;
	&:hover
	{
		background-position: -120px 0;
	}
	&.drop-hover
	{
		background-position: -168px 0;
	}
}
.listArrows__sprite__next__disabled
{
	background-position: -24px 0;
}
.listArrows__sprite__prev
{
	background-position: -48px 0;
	&:hover
	{
		background-position: -96px 0;
	}
	&.drop-hover
	{
		background-position: -144px 0;
	}
}
.listArrows__sprite__prev__disabled
{
	background-position: 0 0;
}

.listArrowsMain__sprite
{
	background-image: inline-image('icons/ico_listArrowsMain.png');
	width: 44px;
	height: 90px;
	cursor: pointer;
	float: left;
}
.listArrowsMain__sprite__next__disabled, .listArrowsMain__sprite__prev__disabled
{
	cursor: default;
	opacity: 0;
}
.listArrowsMain__sprite__next
{
	background-position: -44px 0;
	margin-left: 552px;
	&:hover
	{
		background-position: -132px 0;
	}	
}
.listArrowsMain__sprite__prev
{
	background-position: 0 0;
	&:hover
	{
		background-position: -88px 0;
	}
}

.main__post__order
{
	height: 71px;
	border-bottom: 1px $colorWhiteBlue solid;
	box-sizing: border-box;
	padding: 27px;
	
	a
	{
		color: $colorBlack;
		
		&:hover, &.main__post__order__active
		{
			color: $colorGreen;
		}		
	}
	
	.main__post__order__leftSide
	{
		float: left;
		a
		{
			margin-right: 19px;
		}
	}
	.main__post__order__rightSide
	{		
		float: right;
		a
		{
			margin-left: 30px;
		}
	}
}

.main__regionPosts
{
	position: absolute;
	top: 25px;
	left: 1020px;
	width: 260px;
	background: $colorWhite;
	font: fontSize(13px)/lineHeight(20px) $fontFamilySans;
	
	.main__regionPosts__header
	{
		background: $colorLightGreen;
		color: $colorBlack;
		height: 51px;
		box-sizing: border-box;
		font-size: 17px;
		font-weight: 600;
		padding: 15px 18px;
	}
	.main__regionPosts__item
	{
		padding: 13px 17px 9px 17px;
		img
		{
			float: left;
			margin: 5px 15px 0 0;
		}
		a
		{
			color: $colorBlack;
		}
	}
	.main__regionPosts__footer
	{
		border-top: 1px $colorLightGray solid;
		margin-top: 12px;
		padding: 8px 0 11px 41px;
		
		a
		{
			font-size: 12px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
		}
		.main__regionPosts__footer__ico
		{
			width: 17px;
			height: 13px;
			background-image: inline-image('icons/ico_allRegionPosts.png');
			float: left;
			margin: 4px 10px 0 0;
		}
	}
}